

/*
Table of Content

1. Global Styles
2. Typography
3. Components
  3.1 Buttons

*/


/* 
=============
Global Styles
=============
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Makes viewport work on IE10 */
@-ms-viewport{
  width: device-width;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

a {
  text-decoration: none;
}

p {
  padding: 1rem 01rem;
}

img {
  display: block;
  width: 100vw;
}

/* 
=============
    NAV
=============
*/

.nav-wrapper {
  grid-area: nav;
}

.main-nav {
  position: fixed;
  top: 3.8vh;
  left: 50vw;
  width: 100vw;
  transform: translate( -50%, -50%);
  margin: 0 10 0 0;
  padding-top: 1rem;
  display: flex;
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  z-index: 1;

}

ul li {
  list-style: none;
  text-align: center;
  display: block;
  border-right: 1px solid rgba(0,0,0,.2);
  
}

ul li:last-child {
  border-right: none;
}

ul li a {
  text-decoration: none;
  padding: 0 6vw;
  display: block;
}

ul li a .icon {
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto 0.3rem;
}

ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 34px;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

ul li a:hover .icon .fa{
  transform: translateY(-100%);
}

ul li a .name {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  color: rgb(0, 0, 0);
  padding-bottom: 1.5rem;
}

ul li a .name span:before {
  content: attr(data-text);
  position: absolute;
}

/* 
=============
Landing Page
=============
*/

#landing-page {
  height: 100vh;
  display: flex;
  background: url(/Pics/Group2@2x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  
  flex: 0 1 60vw;
  margin: 0;
 
}

.landing-text {
  padding-top: 100px;
  height: 50vh;
  display: flex;
  flex: 0 1 100vw;
  height: 50vh;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #30241D;
}

.landing-text h1 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: 1px 1px #fff
}

.blog-text-button {
  padding-top: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h2 {
  color: #30241D;
}



.text-secondary {
  color: #D84187;
}

/* 
=============
Buttons
=============
*/

.button {
  /* Change color and design later */
  padding: 0.5rem 2rem;
  border: 1px #D84187cc solid;
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  background-color: #D84187;
  transition: background 500ms ease;
  margin-top: 0.2rem;
    
}

.button:hover {
  background-color: #DB629A;
}

.caption a {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}

/* 
=============
Portfolio
=============
*/

.titel {
  padding: 1.5rem;
  background: rgb(201, 125, 160);
  text-align: center;
}

.titel h2 {
  padding-right: 1rem;
  padding-left: 1rem;
  display: inline-block;
  
}

.portfolio-wrapper {
  background-color: rgba(255, 226, 215, 0.459);
  display: flex;
  flex-direction: column;

}

.caption {
  text-align: center;
  padding-bottom: 1rem;
}

.caption h3 {
  padding-top: 1rem;
}

.caption p {
  width: 90vw;
}

.blog {
  text-align: center;
}

.blog h2 {
  text-align: center;
}

/* 
=============
  About Me
=============
*/

.about-me h2 {
  text-align: center;
  padding-top: 1rem;
}

/* 
=============
    Blog
=============
*/

.blog {
background: rgba(255, 226, 215, 0.459);
padding-bottom: 1rem;
}

.blog h2 {
  padding-top: 1rem;
}

/* 
=============
Contact Form
=============
*/

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact {
	background:#F9F9F9;
	padding: 1rem;
}

#contact h3 {
	color: #75B9B2;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#contact textarea {
	height:100px;
	max-width:100vw;
  resize:none;
}

.contact-form {
	max-width:400px;
	width:100%;
	margin:0 auto;
  position:relative;
  
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #D84187;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: rgb(201, 125, 160);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* To give the border around an element more color when focused*/
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

/* 
=============
    Grid
=============
*/

main {
  grid-area: content;
}

.about-me {
  grid-area: about;
}

.blog {
  grid-area: blog;
}

.contact-form {
  grid-area: form;
}

.wrapper {
  /* Basic layout for the grid. Uses mobile first. */
  
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "about"
    "form"
    "footer";
    
}

/* 
=============
Media Query
=============
*/


@media (min-width: 500px) {
  .wrapper {
    /* Media means the grid is changening when the view is in a specific size. 500px here. */
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content"
      "about about"
      "form form"
      "footer  footer";

  }

  #landing-page {
    height: 100vh;

  }

  
}

@media (min-width: 700px) {
  .wrapper {
    /* Media means the grid is changening when the view is in a specific size. 700px here. */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content content"
      "about about about"
      "form form form"
      "footer footer  footer"
   }
   
   .nav-wrapper, .main-nav {
     display: none;
   }
}

footer {
  text-align: right;
  margin: auto;
  grid-area: footer;

}